@using Blog.Models.ViewModel;
@model CreatePostViewModel
<div class="register-container p-4">
    <form method="post" enctype="multipart/form-data">
        <div class="input-area">
            <label asp-for="Title" class="label"></label>
            <input asp-for="Title" autocomplete="off" id="Email" class="input">
            <span asp-validation-for="Title" class="text-danger"></span>
            <div></div>
        </div>
        <div class="input-area">
            <label asp-for="Description" class="label"></label>
            <textarea asp-for="Description" autocomplete="off" class="large-input"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
            <div></div>
        </div>
        <div class="input-area">
            <label class="label">Image</label>
            <input asp-for="Img" autocomplete="off" class="input" type="file" accept=".jpg,.jpeg,.png">
            <div></div>
        </div>
        <div class="input-area">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
</div>