@using Blog.Models.ViewModel
@model LoginViewModel

<div class="register-container">
    <form method="post">
        <div class="input-area">
            <label class="label">Email address</label>
            <input asp-for="Email" autocomplete="off" name="Email" id="Email" class="input" type="email">
            <span asp-validation-for="Email" class="text-danger"></span>
            <div></div>
        </div>
        <div class="input-area">
            <label class="label">Password</label>
            <input asp-for="Password" autocomplete="off" name="Password" id="Email" class="input" type="password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <div></div>
        </div>
        <button class="btn" type="submit">Register</button>
    </form>
</div>

